body {
font-size:14pt;
}
.correct {
	margin-top:20px;
	background-color:#6a6;
	color:white;
	padding:20px;
	width:100%;


}


.error {
	margin-top:20px;
	background-color:#a66;
	color:white;
	padding:20px;
	width:100%;

}


.icon-bar{
background-color:black;
}


#map {
height:500px;
width:100%;

}